# Ignore javascript files compiled as part of typescript:
*.js

# Ignore node modules
node_modules
package-lock.json

# Cannot be autoformatted or linted due to discord not respecting traditional Markdown rules
guides